.button.button_applications {
  margin-bottom: 67px;
  height: 47px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 8px;
  padding-bottom: 12px;
}

.button.button_applications:hover {
  background-color: #2a2a2f;
}
