.applications__circle-bg {
  position: absolute;
  height: 352px;
  width: 352px;
  border-radius: 352px;
  background-color: #fdfdff;
  position: absolute;
  top: 5px;
  left: 61px;
  z-index: 3;
}

@media screen and (max-width: 1150px) {
  .applications__circle-bg {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media screen and (max-width: 570px) {
  .applications__circle-bg {
    height: 251px;
    width: 251px;
    border-radius: 100%;
  }
}