.logos__bg-pic {
  background-image: url(../../../images/hero-photo.jpg);
  background-blend-mode: multiply;
  background-color: rgba(42, 42, 47, 0.6);
  width: 100%;
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
}
