@import url(../sub-title/_logos/sub-title_logos.css);
@import url(../sub-title/_reliability/sub-title_reliability.css);
@import url(./_applications/sub-title_applications.css);

.sub-title {
  background-color: #0049bc;
  display: inline-block;
  font-family: Proxima Nova Rg;
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -0.4px;
  text-align: justify;
  color: var(--white);
  margin: 0;
}
