@import url(./__description/economy__description.css);
@import url(./__parameter/economy__parameter.css);
@import url(./__parameters-container/economy__parameters-container.css);
@import url(./__parameters/economy__parameters.css);
@import url(./__text/economy__text.css);
@import url(./__text-item/economy__text-item.css);
@import url(./__pictures-container/economy__pictures-container.css);
@import url(./__big-pic/economy__big-pic.css);
@import url(./__small-pic/economy__small-pic.css);
@import url(./__pic-mobil/economy__pic-mobil.css);
@import url(./__wrap/economy__wrap.css);

.economy {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  width: 100%;
  max-width: 1108px;
  align-items: flex-start;
}

@media screen and (max-width: 1250px) {
  .economy {
    padding-top: 64px;
    width: calc( 100% - 120px);
    max-width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .economy {
    padding-top: 32px;
    width: calc( 100% - 40px);
  }
}

@media screen and (max-width: 570px) {
  .economy {
    padding-top: 31px;
    width: calc( 100% - 40px);
  }
}

