.economy__parameters {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1250px) {
  .economy__parameters {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 40px;
    justify-content: space-around;
  }
}

@media screen and (max-width: 570px) {
  .economy__parameters {
    margin-bottom: 57px;
  }
}
