.header__link {
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: var(--white);
    text-decoration: none;
    margin-right: 42px;
}

.header__link:last-child{
  margin-right: 0px;
}


@media screen and (max-width: 750px) {
  .header__link {
    margin-right: 20px;
    font-size: 14px;
  }
}

