@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/spliter/spliter.css);
@import url(../blocks/button/button.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/main/main.css);
@import url(../blocks/logos/logos.css);
@import url(../blocks/title/title.css);
@import url(../blocks/sub-title/sub-title.css);
@import url(../blocks/economy/economy.css);
@import url(../blocks/reliability/reliability.css);
@import url(../blocks/efficiency/efficiency.css);
@import url(../blocks/applications/applications.css);

option.applications__option {
  font-family: Proxima Nova Rg, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: justify;
  color: var(--white);
  cursor: pointer;
}



:root {
  --blue-blue: #164cb5;
  --cornflower-blue: #4b7dd7;
  --pale-grey: #f1f6ff;
  --dull-orange: #ec8928;
  --dark: #28293c;
  --black-70: rgba(26, 26, 26, 0.7);
  --dark-70: rgba(40, 41, 60, 0.7);
  --dark-40: rgba(40, 41, 60, 0.4);
  --dark-24: rgba(40, 41, 60, 0.24);
  --dark-10: rgba(40, 41, 60, 0.1);
  --dark-4: rgba(40, 41, 60, 0.04);
  --white: #ffffff;
  --white-70: rgba(255, 255, 255, 0.7);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-24: rgba(255, 255, 255, 0.24);
  --white-10: rgba(255, 255, 255, 0.1);
  --white-4: rgba(255, 255, 255, 0.04);
}
