.economy__wrap {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 570px) {
  .economy__wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}