@import url(./__semicircle/reliability__semicircle.css);
@import url(./__root/reliability__root.css);
@import url(./__wrap/reliability__wrap.css);
@import url(./__description/reliability__description.css);
@import url(./__pic/reliability__pic.css);
@import url(./__shema/reliability__shema.css);
@import url(./__text/reliability__text.css);
@import url(./__text/_bold/reliability__text_bold.css);
@import url(./__semicircle/_left/reliability__semicircle_left.css);
@import url(./__semicircle/_right/reliability__semicircle_right.css);
@import url(./__pic/_efficiency/reliability__pic_efficiency.css);
@import url(./__description/_efficiency/reliability__description_efficiency.css);
@import url(./__shema/_efficiency/reliability__shema_efficiency.css);
@import url(./__pic/_applications/reliability__pic_applications.css);
@import url(./__description/_applications/reliability__description_applications.css);
@import url(./__wrap/_applications/reliability__wrap_applications.css);
@import url(./__root/_efficiency/reliability__root_efficiency.css);
@import url(./__root/_applications/reliability__root_applications.css);
@import url(./__text/_application-last/reliability__text_application-last.css);



.reliability {
  position: relative;
  width: 100%;
  height:1042px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}