.economy__pictures-container {
  position: relative;
  width: 100%;
  max-width: 1108px;
  margin-bottom: 155px;
  margin-top: 59px;
}

@media screen and (max-width: 570px) {
  .economy__pictures-container {
    display: none;
  }
}
