.spliter__bg-pic_black_left {
  background-image: url(../../../../images/black_left.png);
  background-color: transparent;
  position: absolute;
  top: -145px;
  left: 0;
}

@media screen and (max-width: 1150px) {
  .spliter__bg-pic_black_left {
    display: none;
  }
}