.applications__option {
  font-size: 28px;
  font-family: Proxima Nova Rg, sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: justify;
  color: var(--white);
  cursor: pointer;
  text-align: center;
  text-align-last: center;
  background-color: #2a2a2f;
}

@media screen and (max-width: 1370px) {
  .applications__option {
    font-size: 20px;
  }
}

@media screen and (max-width: 850px) {
  .applications__option {
    font-size: 14px;
  }
}