.reliability__pic_efficiency {
  height: 628px;
}

@media screen and (max-width: 1325px) {
  .reliability__pic_efficiency {
    height: 500px;
  }
}

@media screen and (max-width: 1000px) {
  .reliability__pic_efficiency {
    display: none;
  }
}

