.reliability__description {
  margin-top: 27px;
  max-width: 610px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1364px) {
  .reliability__description {
    max-width: 490px;
  }
}

@media screen and (max-width: 1000px) {
  .reliability__description {
    max-width: initial;
  }
}

@media screen and (max-width: 570px) {
  .reliability__description {
    margin-top: 20px;
  }
}
