@import url(./__logo-link/header__logo-link.css);
@import url(./__logo/header__logo.css);
@import url(./__links/header__links.css);
@import url(./__wrap/header__wrap.css);
@import url(./__link/header__link.css);
@import url(./__gamburger/header__gamburger.css);
@import url(./__gamburger-line-one/header__gamburger-line-one.css);
@import url(./__gamburger-line-two/header__gamburger-line-two.css);
@import url(./__gamburger-line-three/header__gamburger-line-three.css);
@import url(./__gamburger-change/header__gamburger-change.css);
@import url(./__links-mobil/header__links-mobil.css);

.header {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: Proxima Nova Cn Rg;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: -0.17px;
  text-align: justify;
  color: var(--white);
  background-color: #0049bc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
