.reliability__root {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-width: 1108px;
  z-index: 1;
  padding-top: 19px;
}

@media screen and (max-width: 1150px) {
  .reliability__root {
    padding-top: 50px;
    padding-bottom: 50px;
    width: calc(100% - 120px);
  }
}

@media screen and (max-width: 1000px) {
  .reliability__root {
    justify-content: initial;
    flex-direction: column;
    align-items: center;
    height: initial;
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 570px) {
  .reliability__root {
    width: calc(100% - 40px);
  }
}
